/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  /* width: expression(document.body.clientWidth > 901? "900px": "auto"); */
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}
#cabecera { 
    clear: both; 
/* El elemento #cabecera debe tener un relleno de 1em en todos los lados. */
    padding: 1em;
}
#menu { 
    clear: both;
/* El elemento #menu debe tener un relleno de 0.5em en todos los lados y un margen inferior de 0.5em. */
    padding: 0.5em;
    margin-bottom: 0.5em;
}
#noticias, #publicidad, #principal, #secundario {
    /* El resto de elementos (#noticias, #publicidad, #principal, #secundario) deben tener 0.5em de relleno en todos sus lados */
    padding: 0.5em;
}
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 73%; }
#contenido #secundario { float: right; width: 20%; }


/*-- Cabecera --------------------------------------------------------*/
#cabecera { 
    clear: both; 
/* El elemento #cabecera debe tener un relleno de 1em en todos los lados. */
    padding: 1em;
}
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { 
    width: 100px; 
    float: left; 
/* Las imágenes de los artículos muestran un margen de 0.5em en to */
    margin: 0.5em;
}
/* Los elementos .articulo deben mostrar una separación entre ellos de 1em. */
#principal .articulo{
    margin-bottom: 1em;
}
/*-- Publicidad -----------------------------------------------*/
/* El elemento #publicidad está separado 1em de su elemento superior. */
#lateral #publicidad {
    margin-top: 1em;
}
/*-- Pie de página ---------------------------------------------------*/
#pie { 
    clear: both; 
    /* el elemento #pie sólo debe tener relleno en la zona superior e inferior. */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* El elemento #pie debe tener un margen superior de 1em */
    margin-top: 1em;
}
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */