    
.first{
    width: 400px;
    border: 1px solid black;
    background-color: black;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.first-content{
    padding: 20px;
    background-color: white;

}


.second{
    width: 400px;
    border-top: 15px solid red;
    border-right: 20px solid blue;
    border-bottom: 10px solid green;
}
