* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  list-style: none;
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
 display: none;
}

#chkToggle:checked + ul.main-nav {
  display: none;
}

main{
  display: flex;
  flex-direction: row;
}
aside{
  padding: 10px;
}
img{
  display: none;
}

.title-tux{
  display: block;
}
h3{
  margin: 1em;
}
@media screen and (min-width: 750px) {
  .title-tux{
    display: none;
  }
  .main-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    margin-right: 1em;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 20px;
  }

  .logo {
    align-items: flex-start;
  }

.navbar-toggle {
  display: none

}

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

}

