$color-primario: #FF8000;
$color-secundario: #2E5F64;


#primero{
    .destacado{
        color: $color-primario;
        font-size: 1.6rem;
        text-align: center;
        padding: 6px;
    }
}
#segundo{
    .destacado{
        color: $color-secundario;
        font-size: 1.4rem;
        text-decoration: underline;
        padding: 5px;
    }
    #parrafos{
        text-align: right;
    }

}
div{
    padding: 20px;
}
p:not(.destacado)::first-line {
    font-style: italic;
  }