nav#desktop {
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        &.submenu{
            @include Transition(height, 0.5s, ease-out);
            position: absolute;
            height: 0px;
            overflow: hidden;
        }
    }
    & > ul{
        width: 100%;
        height: 32px;
        color: #eee;
        background-color: #666;
    }
   
    a{
        color: #eee;
        background-color: #666;
        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;
    }
    a:hover{
        @include setColorHover();
        @include Animation(iluminar, 0.4s)
    }
    li{
        &.categoria{
            float: left;
            & > a{
                @include Transition(padding, 0.4s, ease-out);
            }
            &:hover > a{
                padding: 10px 20px;
            }
            &:hover ul.submenu{
                height: 100px;
            }
        }
    }
    @include responsive("medium") {
        display: none;
    }
}
nav#mobile{
    display: none;
    float: right;
    ul{
      margin: 0px;
      height: 0px;
      overflow: hidden;
      list-style-type: none;
      position: absolute;
      right: 10px;
      top: 40px;
      a{
        @include setColorText();
        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;
        font-size: 0.6em;
        font-weight: normal;
        &:hover{
            @include setColorHover();
            @include Animation(iluminar, 0.4s)
        }
      }
    }
    &:hover ul{
      height: auto;
    }
    @include responsive("medium"){
      display: block;
    }
  }
